$baseGray: #f7f7f7;
$baseOrange: #F78733;
$baseRed: #cc1818;
$baseTeal: #4ABDAC;

body,html {
  height: 100%;
  background-color: $baseGray;
}

.btn-red {
  background-color:$baseRed;
  color: white;
}

.card {
  background-color: white;
}

.post {
  margin: 20px 0 20px 0;
}

.post > .post-header {
  background-color: white;
  color: $baseRed;
  font-weight: 500;
}

.post > .post-body {
  background-color: white;
}

.post > .post-body > a {
  color: $baseRed;
  font-weight: 500;
  text-decoration: none;
}

.post > .post-footer {
  font-size: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  background-color: black;
}

.post > .post-footer span:nth-child(2) {
  float: right;
}

.comment {
  margin: 5px 0 5px 0;
}

.comment > .comment-body {
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  margin: 0;
  background-color: white;
}

.comment > .comment-footer {
  font-size: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.comment > .comment-footer span:nth-child(2) {
  float: right;
}
