$baseGray: #efefef;
$baseOrange: #F78733;
$baseRed: #FC4A1A;
$baseTeal: #4ABDAC;

body,html {
  height: 100%;
  background-color: white;
}

.btn-red {
  background-color:$baseOrange;
  color: white;
}

.card {
  background-color: $baseGray;
}

.post {
  margin: 20px 0 20px 0;
}

.post > .post-title {
  background-color: white;
}

.post > .post-footer {
  font-size: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
